<div class="right">
    <div class="one"><a href="#">Registre-se <strong>gratuitamente!</strong></a></div>
    <div class="two">
      <h2>Concurso de video de Agosto</h2>
      <img src="https://i.ytimg.com/vi/EigKdBGecmo/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBbEDt_9lwOM5jeO4KrcySE1JBVZg" height="202"/><h3><a href="#">Você <strong>pode</strong> dançar?</a></h3>
      <p>Inspirado em <a href="#">Matt Harding</a><br/>YouTube está orgulho de publicar seu primeiro vídeo.<br/><br/><a href="#">Aproveite o conteúdo agora</a></p>
    </div>
    <div class="three">
      <h3>Recentes tags:</h3>
      <a href="#">Verão</a> : 
      <a href="#">live</a> : <a href="#">sonichedgehegg</a> : 
      <a href="#">sing</a> : <a href="#">fortnite</a> : <a href="#">tromp</a> : 
      <a href="#">hotdogs</a> : <a href="#">winter</a> : 
      <a href="#">Art</a> : <a href="#">BobRoss</a> : <a href="#">shawndayson</a> 
      : <a href="#">cartwheel</a> 
      : <a href="#">9xbackflip</a> 
      : <a href="#">flyingcar</a> : <a href="#">howtobasic</a> : <a href="#">magic</a> : <a href="#">free</a> : <a href="#">makemoney</a> : <a href="#">abadeabadie</a> : <a href="#">tornado</a> : <a href="#">guitar</a> : <a href="#">gardening</a> : <a href="#">latesttech</a> : <a href="#">bestsinger</a> : <a href="#">marinatrench</a> : <a href="#">blackholes</a> : <a href="#">lava</a> : <a href="#">selfdriving car</a> :
      <br/>
      <br/>
      <h2><a href="#">Veja mais tags</a></h2>
    </div>
 </div>
 
